<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <%= link_to 'Register',users_sign_up_path %>
    <%= link_to 'Login',login_path %>
    <%= render 'shared/slider' %>
  </body>
</html>
