<div class="">
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'new Categories',new_category_path %><br>
  <%= link_to 'home',root_path %>
</div>
